<div class="container " id="about">
        <div class="about-box ">

        <div class="intro-sec"> 
         
          <h1 class="mb-3 uniq1 text-secondary">About Me</h1>
          <p class="myintro mx-2">Hi, I am Tejas Katkade From Pune,i am pursuing my 3rd year of engineering in Vishwakarma institute of Technology,Pune in computer 
            engineering.i am learning enthusistic person and i love problem solving.
          </p>

        </div>  
       
       
        
        <div class="edubox">
          <div class="center-head mb-4"> <h2 >Education</h2></div>
          
   
           <div class="edu-sec uniq2">

            <div class="card" style="width: 22rem;">
              <img src="./images/school1jpg.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Class 10th</h5>
                <p class="card-text" style="font-size:15px">Jawahar Navodaya Vidyalaya,Nashik</p>
                <p class="card-text" style="font-size:15px">2017-18</p>
                <p class="card-text" style="font-size:15px">Percentage:84.2</p>
                <a href="https://navodaya.gov.in/nvs/nvs-school/Nashik/en/about_us/About-JNV/" target="_blank" class="btn btn-primary">Visit onsite</a>
              </div>
            </div>
            
            <div class="card" style="width: 22rem;">
              <img src="./images/school1jpg.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Class 12th</h5>
                <p class="card-text" style="font-size:15px">Jawahar Navodaya Vidyalaya,Nashik</p>
                <p class="card-text" style="font-size:15px">2019-20</p>
                <p class="card-text" style="font-size:15px">Percentage:93.2</p>
                <a href="https://navodaya.gov.in/nvs/nvs-school/Nashik/en/about_us/About-JNV/"  target="_blank" class="btn btn-primary">Visit onsite</a>
              </div>
            </div>
            
            <div class="card" style="width: 22rem;">
              <img src="./images/college.jpg" class="card-img-top " alt="...">
              <div class="card-body">
                <h5 class="card-title">B-tech CS</h5>
                <p class="card-text" style="font-size:15px">Vishwakarma Institute of technology,Pune</p>
                <p class="card-text" style="font-size:15px">2020-24</p>
                <p class="card-text" style="font-size:15px">CGPA:8.4</p>
                <a href="https://www.vit.edu/index.php"  target="_blank" class="btn btn-primary">Visit onsite</a>
              </div>
            </div>


           </div>

           <div class="skill-section">
            <div class="center-head"> <h2 >My skills</h2></div>
              <div class="row">
                  <div class="col-md-4 row-12">
                    <div class="tech-skill">
                      
                      <div class="center-head"> <h3>Technical skills</h3> </div>
                      <ul>
                        <li>Programming language:C++,Java,python</li>
                        <li> Problem solving </li>
                        <li> Data structure and algorithms </li>
                        <li>Object Oriented Programming</li>
                        <li>HTML,CSS,Javascript</li>
                        <li>MySql</li>
                        <li>Nodejs</li>
                        <li>Reactjs</li>
                        <li>Mongodb</li>
                        
                        
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-8 row-12">
                    <div class="coding_prof"> 
                      <div class="center-head"> <h3>My Coding Profile</h3> </div>
                      <div class="coding-cards">
                        <div class="coding-card"> <h4 class="text-success">Geeks for Geeks</h4> 
                        <div class="wrap-img"> <img src="./images/gfg-logo.png" alt="gfg-logo" class="prof_logo">   </div> 
                         <p>2nd rank in institute(3000+ score)</p>
                        
                         <button class="btn btn-success"><a href="https://auth.geeksforgeeks.org/user/tejas2002rk/practice"  class="text-white"  target="_blank">Visit</a></button>
                        </div>
                        
                        <div class="coding-card"> <h4 class="text-leetcode">Leetcode</h4> 
                          <div class="wrap-img"> <img src="./images/Leetcode3.webp" alt="leetcode-logo" class="prof_logo">   </div> 
                           <p>Awarded as knight badge(1900+ rating and in top 4% of worldwide)</p>
                          
                           <button class="btn " style="background: #C24E3E;"><a href="https://leetcode.com/tejas2002rk/" target="_blank" class="text-white">Visit</a></button>
                          </div>



                      </div>
                    </div>
                    
                  </div>

              </div>

           </div>

           
           <div class="proj-btn uniq"> <button ><a  href="https://github.com/tejask2002" target="_blank"> Explore My projects </a></button>  </div>
           

      </div>
    </div>
      </div>