 <footer class="myfooter mt-3" id="footer">
        <div>
        <a href="https://www.instagram.com/tejas_k25/" class="mx-2 text-white" target="_blank">  <i class="fab fa-instagram fa-3x"></i> </a>
        <a class="mx-2 text-white" href="https://www.facebook.com/tejas.katkade.5/" target="_blank">  <i class="fab fa-facebook fa-3x"></i>  </a>
        <a class="mx-2 text-info"> <i class="fab fa-twitter fa-3x" target="_blank"></i>  </a>
        <a class="mx-2 text-primary" href="https://www.linkedin.com/in/tejas-katkade-908273226" target="_blank"> <i class="fab fa-linkedin fa-3x"></i> </a> 
        <hr>
        <p class="mx-5">Contact on +919359896586</p>
        </div>
      </footer>