 <div class="container mt-5">
        <div class="row">
          <div class="col-md-6 col-12 box1"> 
            <div id="mycarousel" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#mycarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#mycarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="./images/mypic.jpg" class="w-100  d-inline-block" alt="mypic">
                  <div class="carousel-caption d-none d-md-block">
                    <h5 class="label">Follow your passion</h5>
                    
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="./images/mypic3.jpg" class="w-100 d-inline-block" alt="mypic">
                  <div class="carousel-caption d-none d-md-block">
                    
                  </div>
                </div>
                
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#mycarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#mycarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next </span>
              </button>
            </div>  
          </div>


          <div class="col-md-6 col-12 box2 "> <div class="main-head"><h1>I am <span class="text-info">Tejas Katkade</span> ,Software Engineer 💻</h1>  </div> </div>
        </div>
      </div>